body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 206, 252);
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(178, 51, 233);
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(67, 1, 121);
}


img{
    width:60vw;
    height: 60vh;
    object-fit: contain;
}
img:hover{
width: 400px
}

#purple-ball{
    background-color: rgb(169, 0, 254);
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation-duration: 2s;
    animation-name: purple-ballmove;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;
}

@keyframes purple-ballmove{
    from {
        margin-left: 100%;
        width: 300%;
    }
}