
body {
  font-family: helvetica, sans-serif;
  width: 350px;
  background-color: #9874d3
}

label {
  font-weight: bold;
}

div {
  padding-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

p {
  background: #dcd0ff;
  color: #56365c;
  padding: 10px;
  visibility: hidden;
}
