body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition-property: background-color;
    transition-duration: .125s;
    transition-delay: 0s;   
}
#box1:hover{
    background-color: blueviolet;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-duration: 2s;
    animation-name: box2move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes box2move{
from {
    margin-left: 100%;
    width: 300%;
}


to {
    margin-left: 0%;
    width: 100%;
}
}
